<% if current_user %>
<div  style="background-image: url(<%= current_user.images.last.picture.url %>)" class="profile-header text-center">
  <div class="container-fluid">
    <div class="container-inner">
      <%#img class="img-circle media-object" src="../assets/img/avatar-dhg.png"> %>
      <h3>Welcome: <%= current_user.email %></h3>
      <p class="profile-header-bio">
        I wish i was a little bit taller, wish i was a baller.
      </p>
    </div>
  </div>
    </div>
  <nav class="profile-header-nav">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">Photos</a>
      </li>
      <li>
        <a href="#">Others</a>
      </li>
      <li>
        <a href="#">Anothers</a>
      </li>
    </ul>
  </nav>
<% else %>
<div class="jumbotron">
  <h2>Welcome to the Photo Management App!</h2>
  <p class="lead">
    You'll love managing your Photos with our application. Sign up!
  </p>
</div>
<div class="row">
  <div class="plans clearfix">
    <div class="col-lg-3 col-lg-offset-3 plan">
      <h2>Premium Plan</h2>
      <div class="price pull-right">
        Price: $10
      </div>
      <div class="features">
        <ul>
          <li>Unlimited Image Uploads</li>
          <li>Responsive design</li>
          <li>Access anywhere</li>
        </ul>
      </div>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
      </p>
    </div>
    <div class="col-lg-3 plan">
      <h2>Amaze Plan</h2>
      <div class="price pull-right">
        Price: $20
      </div>
      <div class="features">
        <ul>
          <li>Unlimited Image Uploads</li>
          <li>Responsive design</li>
          <li>Access anywhere</li>
          <li class='extra'>Unlimited projects</li>
        </ul>
      </div>
      <p>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
      </p>
    </div>
  </div>
</div>
<% end %>

<script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>